<div class="wrapper">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">Book Store</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
       <!-- for search -->
        <app-search></app-search>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <br />
  <!-- Page Content -->
  <div class="container conent">

    <router-outlet></router-outlet>
    <!-- /.row -->

    <div id="extwaiokist" style="display:none" v="dhnib" q="e9bc91a8" c="66.32" i="77" u="48.85" s="10252017" d="0"
      w="false" e="" m="BMe=">
      <div id="extwaiimpotscp" style="display:none" v="dhnib" q="e9bc91a8" c="66.32" i="77" u="48.85" s="10252017" d="0"
        w="false" e="" m="BMe=" vn="3down">
      </div>
    </div>
  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark footer">
    
      <p class="m-0 text-center text-white">Copyright © Your Website 2020</p>
    
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>



</div>

