<div class="row" style="margin-bottom: 150px; padding-top: 20px;">

    <div class="col-lg-3">
  
      <!-- <h1 class="my-4">Shop Name</h1> -->
      <app-book-category></app-book-category>
  
    </div>
    
  
    <div class="col-lg-9">
  
      <div class="row">
        
        <!-- for displaying image -->
        <div class=" col-12 col-md-4">
            <div class="thumbnail">
                <img src="{{book.imageUrl}}" width="250" height="300" alt="none">
            </div>
        </div>
        <!-- for displaying info -->
        <div class="col-12 col-md-4">
            <h3>{{book.name}}</h3>
            <hr/>
            <p>{{book.description}}</p>
            <hr/>
            <h4>price :{{book.unitPrice | currency: 'BDT'}}</h4>
            <hr/>
            <h6>Qty. Available: {{book.unitsInStock}}</h6>
            <a routerLink="/books"  class="btn btn-primary">
                Back
            </a>
            <a (click)="addToCart()" class="btn btn-success">
                Add To Cart
            </a>
        </div>

    </div>
  
      
  
    </div>
    <!-- /.col-lg-9 -->
  
  </div>
  
  
  
  
  