@import "~bootstrap/dist/css/bootstrap.min.css";


@font-face{
    font-family: 'BOOKOS';
    src:url(/assets/fonts/BOOKOS.TTF) format("truetype");
}

body{
    font-family:'BOOKOS';
        padding-top:30px;

    
       
    
}

