@import "~bootstrap/dist/css/bootstrap.min.css";


@font-face{
    font-family: 'BOOKOS';
    src:url(/assets/fonts/BOOKOS.TTF) format("truetype");
}
h1{
    font-family:'BOOKOS';
}

body{   
        padding-top:56px; 
}
body, html{
    height:100%;
}

.footer{
    position: initial;
    bottom: 10px;
    width: 100%;
    height: 60px;
}

.wrapper{
    min-height: 100%;
    position: relative;
}
.content{
    
}


